@use "@styles/colors" as *;

.price-range {
}

.price-input {
  display: flex;
  background-color: $background_color_lightgrey;
  border: 1px solid $border_color_grey;
  border-radius: 12px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: normal;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
    width: 248px;
    font-weight: 600;
    font-size: 0.75rem;
  }

  &__separator {
    padding-top: 8px;
    color: $text_color_lightgrey;
    font-size: 0.7rem;
  }

  &__body {
    width: 100%;
    border: none;
    background-color: $background_color_lightgrey;
    outline: none;
  }
}

.input-error {
  outline: 1px solid $border_color_red;
}
