@use "@styles/colors" as *;
@use "@styles/variables" as *;

/* ---------- MEDIA SCREEN -- MOBILE ---------- */
@media (max-width: 600px) {
  .custom-select {
    &__body {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}

/* ---------- MEDIA SCREEN -- TABLET && DESKTOP ---------- */
@media screen and (min-width: 601px) {
}

.custom-select {
  font-family: $font_poppins;

  &__header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  &__body {
    position: relative;
  }

  &__list {
    position: absolute;
    top: 38px;
    border-radius: 12px;
    border: 1px solid $primary_gray;
    background-color: $white;
    box-shadow: 0px 0px 4px $primary_darkgray;
    z-index: 100;
  }

  &__list-item {
    cursor: pointer;
    padding: 10px 15px;
    white-space: nowrap;
    background-color: lighten($secondary_lightgray, 3%);

    &:not(:last-child) {
      border-bottom: 1px solid $primary_gray;
    }

    &:first-child {
      border-radius: 12px 12px 0 0;
    }

    &:last-child {
      border-radius: 0 0 12px 12px;
    }

    &:only-child {
      border-radius: 12px;
    }

    &:hover {
      background-color: darken($secondary_lightgray, 10%);
    }

    &.active {
      cursor: not-allowed;
      background-color: darken($secondary_lightgray, 10%);
    }
  }
}
