@use "@styles/colors" as *;

.primary-btn {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 2px solid $secondary_green;
  background: $primary_green;
  font-style: normal;
  color: $white;
  padding: 9px 16px;
  gap: 12px;

  &:hover {
    background: darken($primary_green, 10%);
  }

  &:disabled {
    border-color: $secondary_darkgray;
    background: $secondary_darkgray;
  }
}
