@use "@styles/colors" as *;

.primary-btn {
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid $secondary_green;
  background: $primary_green;
  color: $white;
  padding: 9px 16px;

  &:hover {
    background: darken($primary_green, 10%);
  }

  &:disabled {
    border-color: $secondary_darkgray;
    background: $secondary_darkgray;
  }
}
