@use "@styles/colors" as *;

.primary-btn {
  cursor: pointer;
  border-radius: 12px;
  border: 1px solid $border_color_darkgreen;
  background: $background-color-green;
  color: $text_color_white;
  padding: 9px 16px;

  &:hover {
    background: darken($background-color-green, 10%);
  }

  &:disabled {
    border-color: $text_color_lightgrey;
    background: $text_color_lightgrey;
  }
}
