@use "@styles/colors" as *;

/* ---------- MEDIA SCREEN -- MOBILE ---------- */
@media (max-width: 600px) {
  .cart__container {
    padding: 0 15px;
    flex-direction: column;
  }
}

/* ---------- MEDIA SCREEN -- TABLET ---------- */
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .cart__container {
    padding: 0 20px;
    flex-direction: column;
  }
}

/* ---------- MEDIA SCREEN -- DESKTOP ---------- */
@media screen and (min-width: 1001px) {
  .cart__container {
    padding: 0 45px;
  }
}

.cart__container {
  display: flex;
  gap: 32px;
  padding-bottom: 100px;
}

.order-complete {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    h1 {
      font-size: 4rem;
      color: $primary_green;
    }
  }
}
