@use "@styles/colors" as *;
@use "@styles/variables" as *;

/* ---------- MEDIA SCREEN -- MOBILE ---------- */
@media (max-width: 600px) {
  .categories {
    &__list {
      display: flex;
      flex-direction: column;
    }
  }
}

/* ---------- MEDIA SCREEN -- TABLET ---------- */
@media screen and (min-width: 601px) and (max-width: 1000px) {
  .categories {
    &__list {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: auto;
      justify-items: start;
    }
  }
}

/* ---------- MEDIA SCREEN -- DESKTOP ---------- */
@media screen and (min-width: 1001px) {
  .categories {
    &__list {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
      justify-content: space-around;
    }
  }
}

.categories {
  &__container {
    display: flex;
    flex: 1;
    background-color: $primary_lightgray;
    padding: 16px 25px;
    font-family: $font_poppins;
  }
}
