$text_color_green: #6a983c;
$text_color_black: black;
$text_color_darkgrey: #575757;
$text_color_lightgrey: #a9a9a9;
$text_color_white: white;

/* ================================= */
$background_color_white: #fff;
$background_color_lightgrey: #f9f9f9;
$background_color_grey: #f5f5f5;
$background_color_red: #e5704b;
$background_color_green: #6a983c;
$background_color_lightgreen: #f4f8ec;

/* ================================= */
$border_color_green: #6a983c;
$border_color_darkgreen: #46760a;
$border_color_grey: #d1d1d1;
$border_color_lightgrey: #f9f9f9;
