$primary_lightgreen: #f4f8ec;
$primary_green: #6a983c;
$secondary_green: #46760a;
$primary_lightgray: #f9f9f9;
$secondary_lightgray: #f5f5f5;
$primary_gray: #d1d1d1;
$secondary_gray: #ebebeb;
$primary_darkgray: #575757;
$secondary_darkgray: #a9a9a9;
$black: black;
$lightgray: #fdfdfd;
$white: white;
$primary_red: #e5704b;
$secondary_red: red;
