.custom-checkbox {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  width: 22px;
  height: 22px;
  z-index: 100;

  &__container {
    display: flex;
    gap: 10px;
  }

  &__icon {
    position: relative;
    width: 22px;
    height: 22px;
  }
}
