@use "@styles/colors" as *;

.modal {
  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $black;
    opacity: 0.4;
    overflow-y: scroll;
    z-index: 99;
    pointer-events: all;
  }

  &__container {
    position: fixed;
    top: calc(50% - 130px);
    right: calc(50% - 200px);
    bottom: calc(50% - 130px);
    left: calc(50% - 200px);
    padding: 7vmin;
    background: $white;
    height: 260px;
    width: 400px;
    border: 1px solid $primary_gray;
    box-shadow: 0px 0px 4px $primary_darkgray;
    z-index: 101;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
