@use "@styles/colors" as *;

.dropdown {
  &__container {
    position: absolute;
    top: 30px;
    background-color: $background_color_lightgrey;
    z-index: 99;
  }

  &__title {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 200px;

    &:hover {
      background-color: darken($background_color_lightgrey, 10%);
    }
  }
}
