@use "@styles/colors" as *;

/* ---------- MEDIA SCREEN -- MOBILE ---------- */
@media (max-width: 600px) {
  .cart__container {
    padding: 0 15px;
  }
}

/* ---------- MEDIA SCREEN -- TABLET ---------- */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .cart__container {
    padding: 0 20px;
  }
}

/* ---------- MEDIA SCREEN -- DESKTOP ---------- */
@media screen and (min-width: 901px) {
  .cart__container {
    padding: 0 45px;
  }
}

.cart {
  &__container {
    display: flex;
    flex-direction: column;
  }
}
