@use "@styles/colors" as *;

/* ---------- MEDIA SCREEN -- MOBILE ---------- */
@media (max-width: 600px) {
  .search-bar {
    &__container {
      flex-direction: column;
      width: 100%;
    }

    &__select {
      .custom-select__header {
        align-self: center;
      }
      .custom-select__body {
        border-bottom: 1px solid $border_color_grey;
        padding-bottom: 5px;
        margin-bottom: 8px;
      }
    }

    &__input {
      font-size: 1rem;
    }
  }
}

/* ---------- MEDIA SCREEN -- TABLET && DESKTOP ---------- */
@media screen and (min-width: 601px) {
  .search-bar {
    &__container {
      width: 500px;
    }

    &__select {
      .custom-select__header {
        border-right: 1px solid $border_color_grey;
        padding-right: 10px;
      }
    }

    &__input {
      font-size: 0.875rem;
    }
  }
}

.search-bar {
  &__container {
    display: flex;
    border: 1px solid $border_color_grey;
    border-radius: 12px;
    background-color: $background_color_lightgrey;
    padding: 8px 16px;
  }

  &__categories {
    display: flex;
    font-weight: 600;
    border-right: 1px solid $border_color_grey;
    padding-right: 28px;
  }

  &__select {
    font-weight: 600;

    .custom-select__body {
      display: flex;
    }
  }

  &__icon-categories {
    display: inline-block;
    align-self: center;
    color: $text_color_green;
    font-size: 12px;
  }

  &__icon-search {
    display: inline-block;
    align-self: center;
  }

  &__input {
    border: none;
    outline: none;
    line-height: 0.9;
    background-color: $background_color_lightgrey;
    width: 90%;

    &_wrapper {
      position: relative;
      display: flex;
      flex: 1;
      justify-content: space-between;
      margin-left: 10px;
    }
  }

  &__brands-list {
    &:not(:empty) {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      top: 38px;
      border-radius: 12px;
      border: 1px solid $border_color_grey;
      background-color: $background_color_white;
      box-shadow: 0px 0px 4px $shadow_color_darkgrey;
      z-index: 90;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      white-space: nowrap;
      background-color: lighten($background_color_grey, 3%);

      .item {
        &__category {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          color: $text_color_lightgrey;
        }
      }

      &:not(:last-child) {
        border-bottom: 1px solid $border_color_grey;
      }

      &:first-child {
        border-radius: 12px 12px 0 0;
      }

      &:last-child {
        border-radius: 0 0 12px 12px;
      }

      &:only-child {
        border-radius: 12px;
      }

      &:hover {
        background-color: darken($background_color_grey, 10%);
      }
    }
  }
}
