@use "@styles/colors" as *;

/* ---------- MEDIA SCREEN -- MOBILE & TABLET ---------- */
@media screen and (max-width: 900px) {
  .navbar {
    &__checkbox {
      display: block;
      cursor: pointer;
    }

    &__container {
      display: none;
      position: absolute;
      top: 45px;
      left: 10px;
      flex-direction: column;
      align-items: flex-start;
      background: $white;
      z-index: 100;

      li {
        margin: 10px;
        padding: 0 15px;
        font-size: 1rem;
      }
    }

    &__contacts,
    &__navigation {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

/* ---------- MEDIA SCREEN -- DESKTOP ---------- */
@media screen and (min-width: 900px) {
  .navbar {
    &__checkbox {
      display: none;
    }

    &__container {
      display: flex;
      justify-content: space-between;
    }

    &__navigation {
      li:not(:first-child) {
        margin-left: 2.375rem;
      }
    }

    &__contacts {
      li:not(:last-child) {
        margin-right: 2.0625rem;
      }
    }
  }
}

#navbar__checkbox {
  display: none;
}

#navbar__checkbox:checked + nav {
  display: block;
}

.navbar {
  &__container {
    font-size: 0.75rem;

    a {
      text-decoration: none;
      color: $primary_green;

      &:hover {
        color: darken($primary_green, 10%);
      }
    }
  }

  &__contacts {
    display: flex;
    justify-content: flex-start;
    flex: 1;

    [href="tel:+420336775664"],
    [href="mailto:info@freshnesecom.com"] {
      color: $black;
    }
  }

  &__navigation {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
}
