@use "@styles/colors" as *;

/* ---------- MEDIA SCREEN -- MOBILE ---------- */
@media (max-width: 600px) {
  .products-list {
    &__container {
      padding: 0 15px;

      h1 {
        font-size: 1.5rem;
      }
    }

    &__body {
      flex-direction: column;
    }
  }
}

/* ---------- MEDIA SCREEN -- TABLET ---------- */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .products-list {
    &__container {
      padding: 0 20px;
    }

    &__body {
      flex-direction: column;
    }
  }
}

/* ---------- MEDIA SCREEN -- DESKTOP ---------- */
@media screen and (min-width: 901px) and (max-width: 1100px) {
  .products-list {
    &__container {
      padding: 0 45px;
    }

    &__body {
      flex-direction: column;
    }
  }
}

/* ---------- MEDIA SCREEN -- DESKTOP LARGE ---------- */
@media screen and (min-width: 1101px) {
  .products-list {
    &__container {
      padding: 0 45px;
    }

    &__sort {
      margin: 16px 3px;
    }
  }
}

.products-list {
  &__container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
  }

  &__quantity {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.75rem;

    span:last-child {
      color: $text_color_lightgrey;
    }
  }

  &__sort {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $border_color_grey;
    border-radius: 12px;
    background-color: $background_color_lightgrey;
    padding: 9px 16px;
    gap: 24px;
    width: 181px;

    span:first-child {
      font-size: 0.875rem;
      padding-right: 20px;
      border-right: 1px solid $border_color_grey;
    }

    span:last-child {
      display: flex;
      align-items: center;
      font-size: 0.75rem;
    }

    &__sort-icon {
      filter: invert(50%);
    }
  }

  &__body {
    display: flex;
    gap: 33px;
    padding-top: 24px;
  }
}

.body {
  &__container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
