@use "@styles/colors" as *;

/* ---------- MEDIA SCREEN -- MOBILE ---------- */
@media (max-width: 600px) {
  .breadcrumbs {
    &__container {
      padding: 16px 15px;
    }
  }
}

/* ---------- MEDIA SCREEN -- TABLET & DESKTOP ---------- */
@media screen and (min-width: 601px) {
  .breadcrumbs {
    &__container {
      padding: 16px 45px;
    }
  }
}

.breadcrumbs {
  &__container {
    display: flex;
    justify-content: flex-start;
    font-size: 0.75rem;
    color: $black;

    li:not(:last-child) {
      margin-right: 10px;
    }

    li:not(:last-child)::after {
      content: "/";
      color: $secondary_darkgray;
      margin-left: 10px;
    }

    a {
      text-decoration: none;
      color: $secondary_darkgray;

      &:hover {
        color: darken($secondary_darkgray, 10%);
      }
    }
  }
}
