@use "@styles/colors" as *;

.not-empty {
  position: relative;
  display: inline-block;

  &:after {
    content: attr(data-count);
    position: absolute;
    bottom: -4px;
    left: -5px;
    font-style: normal;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    color: $white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50%;
    background-color: $primary_red;
    padding: 2px;
    width: 16px;
    height: 16px;
  }
}
