@use "@styles/colors" as *;
@use "@styles/variables" as *;

body {
  margin: 0;
  font-family: $font_open-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
button {
  font-family: $font_poppins;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app__container {
  margin: 0 auto;
  max-width: 1260px;
}

.text-small {
  font-size: 10px;
}

.text_green {
  color: $primary_green;
}

.font_600 {
  font-weight: 600;
}
