@use "@styles/colors" as *;

/* ---------- MEDIA SCREEN -- MOBILE ---------- */
@media (max-width: 600px) {
  .header {
    &__first-row {
      display: flex;
      justify-content: space-around;
      flex: 1;

      .icon-mobile {
        cursor: pointer;
      }
    }

    &__second-row {
      padding: 13px 15px;
    }
  }

  .main-section {
    &__container {
      flex-direction: column;
    }

    &__logo {
      margin-bottom: 15px;
    }

    &__user-profile {
      display: none;
    }
  }
}

/* ---------- MEDIA SCREEN -- TABLET ---------- */
@media screen and (min-width: 601px) and (max-width: 900px) {
  .header {
    &__first-row {
      display: flex;
      justify-content: space-around;
      flex: 1;
      margin: 0 20px;

      .icon-mobile {
        cursor: pointer;
      }
    }

    &__second-row {
      padding: 13px 20px;
    }
  }

  .main-section {
    &__container {
      flex-direction: column;
    }

    &__logo {
      margin-bottom: 15px;
    }

    &__user-profile {
      display: none;
    }
  }
}

/* ---------- MEDIA SCREEN -- DESKTOP ---------- */
@media screen and (min-width: 900px) {
  .header {
    &__first-row {
      margin: 0 45px;

      .icon-mobile {
        display: none;
      }
    }

    &__second-row {
      padding: 13px 27px 13px 62px;
    }
  }

  .main-section {
    &__user-profile {
      display: flex;
      justify-content: space-between;
      width: 8%;
    }
  }
}

.header {
  &__first-row {
    padding: 15px 0;
    border-bottom: 1px solid $primary_lightgray;
  }

  &__mobile-navbar {
    align-items: center;
  }

  &__second-row {
    .logo {
      font-size: 1.125rem;
      font-weight: bold;
    }
  }
}

.main-section {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin-bottom: 18px;
  }
}
